*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}


body{
   
}

#head{
    background-color: white;
    display: flex;
}

#head h1{
    display: inline-block;
    font-family: Verdana;
}

#logo{
    display: flex;
    position: absolute;
    right:0px;
    align-items: center;
    font-weight: 800;
}
#head img{
    max-height: 39px;
    
    margin-left:3px ;
    margin-right: 3px;
}
#img-cont{
    width:100vw;
    height:45vh;
}
#img-cont img{
    height:100%;
    width:100%;
}


#courses{
    
    display: flex;
    flex-wrap:wrap ;
    justify-content: center;
}
.course{
    background-color:wheat;
    font-family: Apple Chancery;
    display: flex;
    margin: 10px;
    border:1px solid black;
}

#ins{
    display: flex;
    justify-content: flex-end;
    
    
}
.instr img{
    
    width: 200px;
    height: 100%;

    align-self: flex-end;
}

.before-form{
    width:40%;
    background-color:wheat;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
}

#alumni-container{
    margin-top: 20px;
    background-color:wheat;
}
.form{
    
    width:80%;
    margin-left:auto;
    margin-right: auto;
    text-align: center;
    margin-bottom:40px;
}


.form .inp{
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width:100%;
    padding:10px;
    background-color: wheat;
    text-align: center;
    font-weight: 800;
    color:grey;
    font-size: 1rem;
    font-family: 'Times New Roman';
}
#choice-text{
    color: grey;
    
}
.inp h3{
    display: inline-block;
}
.inp input{
    margin-left:10px;
}

#submit{
    border: 2px solid black ;
    background-color: thistle;
    margin-top: 20px;
    cursor: pointer;
}
#submit:hover  {
    color: black;
}


#alumni{
    display: flex;
    flex-wrap: wrap;
}

#alumni img{
    width:50vw;

}
footer {
    height: 40px;
    
}
footer ul{
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 900;
}
footer li:hover {
    height:40px;
    background-color: wheat;
    cursor: pointer;
    
}



/*--principal.html--*/ 
#princ{
    /* padding : 20px; */
    margin-left:auto;
    margin-right: auto;  
    color:white;
    
}

#princ h2{
    margin-top:6vh;
    text-align: center;
    color: white;
    
}
#princ a{
    text-decoration: none;
    color:white;
}

#princ a:hover{
    font-size: 5rem;
    color:red;
}